<% if @posts.each do |post| %>
<div class="post">
	<h2 class="title"><%= link_to post.name,post %></h2>
	<div class="entry"><%= post.body %></div>
	<div class="byline">
         <p><%= post.created_at.strftime("%b %d. %Y") %>
		Created By : <%= post.admin_user.name %></p>
    </div>
</div>
<% end.empty? %>
	<p style="color:#ffffff">Sorry, there are no posts in this category</p>
<% end %>
